<br /><div align="center"><h1>.: Quem Somos :.</h1></div><br /
<p align="justify"><font class="texto">Este Portal foi criado para servir a população do <a href="http://pt.wikipedia.org/wiki/Tondela" target="_blank"><b>Concelho de Tondela</b></a> em qualquer parte do mundo. O Distrito de Viseu não aposta muito na Internet, e por isso, decidimos construir este Portal de forma a mostrar às pessoas e empresas que devem ter o seu próprio sítio na Internet. Este projecto existe sem quaisquer ajudas monetárias, o que mostra a falta de apoio a este tipo de iniciativas pelas pessoas da nossa região.</font></p><br />

<center><div id='mapDiv'></div>
    <script type="text/javascript"
src="http://js.sapo.pt/Snippets/Maps.js?lat=40.520543&lon=-8.079094&zoom=12&height=323&width=430&divid=mapDiv">
</script></center>
